html, body {
  font-size: calc(10px + 2 * ((100vw - 320px) /680));
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%
}

#root {
  height: 100%;
}

body {
  background: #505050;
  font-family: 'VT323', monospace;
}

.App {
  min-height: 100%;
  position: relative;
}

header, footer, .rules {
  color: #c6c6c6;
  background: #222;
}

header {
  text-align: center;
}

main {
  padding-bottom: 120px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

footer > h3 {
  margin-right: 10px;
}

button {
  background: #646464;
  cursor: pointer;
  font-family: 'VT323', monospace;
  padding: 5px;
  outline: 2px solid #2e2e23;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

ol li {
  list-style-type: decimal;
}

li {
  display: list-item;
  font-size: 1.7rem;
  margin: 10px;
}

.rules {
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  max-width: 400px;
  width: 50%;
}

.rules ol {
  text-align: left;
  list-style-position: inside;
}
