html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

body {
  background: #505050;
  font-family: 'VT323', monospace;
  font-size: 12px;
}

.App {
  min-height: 100%;
  position: relative;
}

header, footer {
  color: #c6c6c6;
  background: #222;
}

header {
  text-align: center;
}

main {
  padding-bottom: 120px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

footer > h3 {
  margin-right: 10px;
}

button {
  background: #646464;
  cursor: pointer;
  font-family: 'VT323', monospace;
  outline: 2px solid #2e2e23;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

ol li {
  list-style-type: decimal;
}

li {
  display: list-item;
  font-size: 1.2rem;
}

.rules {
  text-align: center;
}

.rules ol {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
