.control-panel {
  border: 10px solid #999;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px auto;
  padding: 5px;
  width: 90%;
}

.control-panel .sub-panel {
  display: flex;
  justify-content: space-around;
}

.control-panel button, .control-panel label, .control-panel input {
  font-size: 2rem;
  margin: 5px;
}

.control-panel input {
  background: #222;
  color: #c6c6c6;
  font-family: 'VT323', monospace;
}

.control-panel .percent-sign {
  font-size: 3rem;
}
